{% extends "layout.html" %}
    {% block page %}
    <div class="columns is-centered" style="padding:2em;">
        <div class="card column is-4" style="padding:0px !important; ">
            <img class="card-image" style="width:100%; height:auto;" src="{{image}}" /><br>
            <center>
                <div class="content">
                    <h2>You did it!</h2>
                    <p>The answer was: {{answer}}</p>
                </div>
                {% if guess == 1 %}
                    <table class="table is-bordered" >
                        <tr>
                            <td class="has-background-success" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                        </tr>
                    </table>
                {% endif %}
                {% if guess == 2 %}
                    <table class="table is-bordered" >
                        <tr>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-success" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                        </tr>
                    </table>
                {% endif %}
                {% if guess == 3 %}
                    <table class="table is-bordered" >
                        <tr>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-success" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                        </tr>
                    </table>
                {% endif %}
                {% if guess == 4 %}
                    <table class="table is-bordered" >
                        <tr>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-success" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                        </tr>
                    </table>
                {% endif %}
                {% if guess == 5 %}
                    <table class="table is-bordered" >
                        <tr>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-success" style="width:5%;">&nbsp;</td>
                            <td class="has-background-light" style="width:5%;">&nbsp;</td>
                        </tr>
                    </table>
                {% endif %}
                {% if guess == 6 %}
                    <table class="table is-bordered" >
                        <tr>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                            <td class="has-background-success" style="width:5%;">&nbsp;</td>
                        </tr>
                    </table>
                {% endif %}

                <button class="post button is-primary" onclick="clipboardCopy()">share your score</button><br><br>
            </center>
        </div>
    </div>
<script>
function clipboardCopy() {
    {% if guess == 1 %}
    let text = "🟩⬜⬜⬜⬜⬜";
    {% endif %}
    {% if guess == 2 %}
    let text = "🟥🟩⬜⬜⬜⬜";
    {% endif %}
    {% if guess == 3 %}
    let text = "🟥🟥🟩⬜⬜⬜";
    {% endif %}
    {% if guess == 4 %}
    let text = "🟥🟥🟥🟩⬜⬜";
    {% endif %}
    {% if guess == 5 %}
    let text = "🟥🟥🟥🟥🟩⬜";
    {% endif %}
    {% if guess == 6 %}
    let text = "🟥🟥🟥🟥🟥🟩";
    {% endif %}

  /* Copy the text inside the text field */
  navigator.clipboard.writeText("Coverle {{daynr}} {{guess}}/6 \n\n" + text + "\n\n coverle.contero.nl");

  /* Alert the copied text */
  alert("Copied the text: \n\n Coverle {{daynr}} {{guess}}/6 \n\n" + text + "\n\n coverle.contero.nl");
}
</script>

{% endblock %}