{% extends "layout.html" %}
    {% block page %}
<main>
    <div class="album py-5" style="min-height:60vh;">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <center>
                        <div class="card shadow-sm" style="max-width:500px;">
                            <img src="{{image}}" class="card-img-top" style="width:100%; height:auto;" role="img"
                                focusable="false" />
                            <div class="card-body">
                                <form autocomplete="off" class="form">
                                    <h2>Awww, maybe next time... </h2>
                                    <p>The answer was {{answer}}</p>

                                    <table class="table bordered">
                                        <tr>
                                            <td class="bg-danger" style="width:5%;">&nbsp;</td>
                                            <td class="bg-danger" style="width:5%;">&nbsp;</td>
                                            <td class="bg-danger" style="width:5%;">&nbsp;</td>
                                            <td class="bg-danger" style="width:5%;">&nbsp;</td>
                                            <td class="bg-danger" style="width:5%;">&nbsp;</td>
                                            <td class="bg-danger" style="width:5%;">&nbsp;</td>
                                        </tr>
                                    </table>
                                    <button class="btn btn-primary" onclick="clipboardCopy()">Share your score!</button><br><br>
                                </form>
                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- COOKIE WORK -->
<script>
    document.cookie = "coverle{{daynr}}=7";
    document.cookie = "coverlestreak={{streakdata}}";
</script>

<!-- COPY WORK -->
<script>
function clipboardCopy() {
    let text = "🟥🟥🟥🟥🟥🟥";

  /* Copy the text inside the text field */
  navigator.clipboard.writeText("Coverle {{daynr}} {{guess}}/6 \n\n" + text + "\n\n https://coverle.contero.nl");

  /* Alert the copied text */
  alert("Copied the text: \n\n Coverle {{daynr}} {{guess}}/6 \n\n" + text + "\n\n https://coverle.contero.nl");
}
</script>
    {% endblock %}
