{% extends "layout.html" %}
    {% block page %}
    <div class="columns is-centered" style="padding:2em;">
        <div class="card column is-4" style="padding:0px !important; ">
            <img class="card-image" style="width:100%; height:auto;" src="{{image}}" /><br>
            <center>
                <div class="content">
                    <h2>Aw, better luck next time!</h2>
                    <p>The answer was: {{answer}}</p>
                </div>
                <table class="table is-bordered" >
                    <tr>
                        <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                        <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                        <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                        <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                        <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                        <td class="has-background-danger" style="width:5%;">&nbsp;</td>
                    </tr>
                </table>
                <button class="post button is-primary" onclick="myFunction()">share your score</button><br><br>
            </center>
        </div>
    </div>
<script>
function myFunction() {
    let text = "🟥🟥🟥🟥🟥🟥";

  /* Copy the text inside the text field */
  navigator.clipboard.writeText(text + "\n\n www.niekwegman.nl");

  /* Alert the copied text */
  alert("Copied the text: " + text + "\n\n www.niekwegman.nl");
}
</script>
    {% endblock %}
